#input_div{

    width: 100%;
    border-bottom: 2px white solid;
    margin-bottom: 10px;

    input{
        width: 100%;
        color: white;
        border: none;
        outline: none;
        background: linear-gradient(90deg, rgba(67,18,174,1) 0%, rgba(129,6,169,1) 100%);
        font-size: 18px;
        height: 32px;
    }

}